body{
	margin:0;
	font-size: 62.5%;
    font-family: Arial,Helvetica,sans-serif;
    color: white;
}

p{
	margin:0;
}

ul{
	margin:0;
	padding:0;
}
h2{
	margin:0;
}

h1,h2,img:hover{
	cursor:pointer;
}

#topbar{
	background-color: #000000;
	width:100%;
	height:41px;
}

.fixedWidth{
	width: 1050px;
	margin: 0 auto;
}

#logo-div{
	padding-top: 5px;
	float: left;
	border-right: 1px solid #959691;
	padding-right: 10px;
	padding-bottom: 3px;
}

#sign-indiv{
	float:left;
	padding-left: 10px;
	padding-right: 80px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-right: 1px solid #959691;
	font-size: 1.5em;
	font-weight: bold;
}

#sign-in-divimg{
	float:left;
	margin-top: -3px;
	margin-right: 5px;
}

.news-menu{
	float:left;
	height: 100%;
}

.menu-list{
	margin:0;
	padding:0;
	list-style: none;
}

.menu-items{
	float:left;
	padding: 10px 20px 12px 20px;
	border-right: 1px solid #959691;
	font-size: 1.5em;
	font-weight: bold;
	height: 100%;
}

#search-div{
	float:left;
	padding-left: 10px;
	padding-top: 5px;
}

#search-div input{
	border-radius: 2px;
	padding: 5px 0 5px 5px;
	font-size: 1.2em;
	font-weight: bold;
	background-image: url("images/search.png");
	background-repeat: no-repeat;
	background-position: right;
}

.clear{
	clear:both;
}

#newsbar{
	background-color: #000000;
	width:100%;
	height:80px;
}

#newsbar-title{
	float:left;
	padding-top: 10px;
	font-size: 3em;
}

#uk{
	font-size: 0.7em;
}

#rss{
	float:right;
	font-size: 2em;
	margin-top: 20px;
}

#rss-img{
	height: 15px;
}


.newsbar-menu{
	float:left;
	margin-top: 10px;
}

.newsbar-menu-list{
	list-style: none;
	margin:0;
	padding:0;
	background-color: #515454;
	height:25px;
}

.newsbar-menu-item{
	float: left;
	padding: 0px 6.5px;
	border-right: 1px solid #63635E;
	font-size: 1.5em;
	height: 100%;
}

.selected{
	background-color: #EDEDED;
	color:#666666;
	font-weight: bold;
}

#content{
	width:100%;
	color: #535353;
	font-size: 1.3em;
	margin-top: 5px;
}

.date{
	font-weight: bold;
}

#left-content-title{
	font-size: 2.5em;
	color: #1F4F82;
}

#left-content-img{
	float:left;
	    width: 320px;
    height: 240px;
}

.content-text{
	position: relative;
	padding:0;
	float:left;
	left: 10px;
	width: 275px;
	font-size: 1.1em;
}

.content-text p{
	margin-bottom: 5px;
}
.content-text a{
	color: #1F4F82;
	text-decoration: none;
}
.content-text a:hover{
	text-decoration: underline;
}

.video{
	background-image: url("images/list-style-play.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	line-height: 1.5em;
}

.audio{
	background-image: url("images/audio.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
	line-height: 1.5em;
}

.right-content{
	float:right;
	background-color: #EEEEEE;
	width:380px;
	position:relative;
	top: -90px;
}

#right-content-title{
	color:#505050;
	padding:10px 0px 10px 10px;
	font-size: 1.8em;
	
}

#watch-listen {
	margin-top:25px;
	background-color:#EEEEEE;
	float:right;
 	position:relative;
	top: -90px;

 }
 	 	
 #watch-listen h2 {
 	color:#565656;
 	margin:10px 0 10px 10px;
 	font-size:180%;
 	background-image: url("images/indicators.png");
	background-repeat: no-repeat;
	background-position: right center;
 }

#watch-listen-links{
	padding: 5px 0 0 10px;
}

#watch-listen-links p{
	padding: 0 0 10px 0;
}

#watch-listen-links a {
	font-size:140%;
	font-weight:bold;
	color:#39638F;
	padding: 20px 0 10px 20px;
	text-decoration: none;
 }

#watch-listen-links a:hover {
	text-decoration: underline;	
}

 #arrow-left {
 	float:left;
 	border-right: 1px solid white;
 }
 	 	
 .wl-block {
 	float:left;
 	background-color:#D1700E;
 	border-right: 1px solid white;
 	width:179px;
 	height:155px;
 }
 	 	
 .wl-block-link-container {
 	padding:5px;
 }
 	 	
 .wl-block-link-container a {
 	color:white;
 }
 	 	
 #arrow-left {
 	float:left;
 	border-left: 1px solid white;
 }

 .live {
 	background-color:#F42924;
 	color:#FFF;
 	padding: 0 3px 0 3px;
 	margin-right:4px;
 	font-size:14px;

 }

 .col{
 	float:left;
 }

 .col:hover{
 	float:left;
	cursor: pointer;
 }

 #col2{
 	margin: 0 45px;
 }

 .col-content{
 	width:320px;
 	margin-top: 5px;
 }

 .col-content p{
 	margin-top: 5px;
 	font-size: 1.1em;
 }

#col-3-img{
	width:320px;
	height:180px;
}

.col-footer{
	border-left: 2px red solid;
	padding-left: 5px;
}

.col-footer:hover{
	cursor: pointer;
}

.footer{
	clear: both;
    border: 1px groove #aaaaaa;
    background: #515454;
    color: White;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}